[Desktop Entry]
Name=gattn
Comment=Attention hub for GNOME
Exec=gattn
Icon=org.mmxgn.gattn
Type=Application
Categories=GNOME;GTK;Utility;
X-GNOME-UsesNotifications=true
